<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<body>
	<div
		style="margin: 0; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; font-size: 100%; line-height: 1.6">
		<table style="background: #f5f6f7" width="100%" cellpadding="0"
			cellspacing="0">
			<tbody>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0"
							class="m_-3537754312093617635table-wrapper"
							style="width: 700px; margin: auto; margin-top: 50px; border-radius: 7px">
							<tbody>
								<tr>
									<td class="m_-3537754312093617635header"
										style="border-top-left-radius: 6px; border-top-right-radius: 6px; height: 80px; background: #ffffff; background-size: 300px; background-position: 100%; background-repeat: no-repeat; line-height: 55px; padding-top: 40px; text-align: center; color: #2057a8; display: block !important; margin: 0 auto !important; clear: both !important">
										<img src="logovijay.png" height="64" width="64"
										style="max-width: 100%; border-radius: 50%; padding: 5px"
										class="CToWUd">



									</td>

								</tr>



								<tr>

									<td
										style="background: #fff; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; padding-bottom: 40px; margin: 0 auto !important; clear: both !important">













										<div class="m_-3537754312093617635header-title"
											style="background: #ffffff; color: #2057a8; padding: 0px 60px 40px; text-align: center; padding-bottom: 0px; margin-bottom: 40px">

											<h1
												style="font-family: &amp; quot; Helvetica Neue&amp;quot; , Helvetica ,Arial,&amp;quot; Lucida Grande&amp;quot; , sans-serif; margin-bottom: 15px; color: #47505e; margin: 0px 0 10px; line-height: 1.2; font-weight: 200; line-height: 45px; font-weight: bold; margin-bottom: 30px; font-size: 28px; line-height: 40px; margin-bottom: 10px; font-weight: 400; color: #2057a8; padding-left: 40px; padding-right: 40px; padding-top: 40px; padding-top: 0px">Welcome,
												Vijay!</h1>

											<p
												style="font-weight: normal; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; line-height: 1.7; margin-bottom: 1.3em; font-size: 15px; color: #47505e; color: #2057a8; opacity: 0.8; padding-left: 40px; padding-right: 40px; margin-bottom: 0; padding-bottom: 0">Glad
												to have you on board.</p>

										</div>



										<p
											style="font-weight: normal; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; line-height: 1.7; margin-bottom: 1.3em; font-size: 15px; color: #47505e; padding-left: 40px; padding-right: 40px">
											Please <span class="il">confirm</span> your account by
											clicking the button below:
										</p>



										<p
											style="font-weight: normal; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; line-height: 1.7; margin-bottom: 1.3em; font-size: 15px; color: #47505e; text-align: center; padding-left: 40px; padding-right: 40px">
											<a
												th:href="@{${url}}"
												rel="noopener"
												style="word-wrap: break-word; color: #2057a8; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; text-decoration: none; background-color: #2057a8; border: solid #2057a8; line-height: 2; max-width: 100%; font-size: 14px; padding: 8px 40px 8px 40px; margin-top: 30px; margin-bottom: 30px; font-weight: 600; display: inline-block; border-radius: 30px; margin-left: auto; margin-right: auto; text-align: center; color: #fff !important"
												target="_blank"
												data-saferedirecturl="https://www.google.com/url?q=http://email.m.teachable.com/c/eJxVUMtKxTAQ_Zp215Jp0zwWXYgibtyICLopaTq9jTZNyUPQrzeRu7kwMGfOzJnXMs4MlazNyAihXDA1ABnIBB2VGtlMGR-k4FhRYs4GSEMa4LQRvEXdteaI6A-1t1aZvd5GAEJhFb2cqQJGGQMuukXDMnNCqYB6H7cYz6q_q7rHbCG4NqLSm5p3bLWzhUOdPGYAou-5zCAF9CF77Y7VeKuicUfV34RTdF-YyQcqqXj-fTqa9P7y8cru35ozS1mKdgoueY25ZsXFeTWVndFfkxYXk2xOYqGvpFb2VOZS-t4MM0eIPumCQ_0vmDxqNGeczDJyIL0cmGS1H72Km_Pf5lP9DJ3MT7yU6nLpH2CUeiA&amp;source=gmail&amp;ust=1615092729807000&amp;usg=AFQjCNG7wttqHjJkhS1j2C7JgMIlOB-hWA"><span
												class="il">Confirm</span> Email</a>
										</p>



										<p
											style="font-weight: normal; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; line-height: 1.7; margin-bottom: 1.3em; font-size: 15px; color: #47505e; padding-left: 40px; padding-right: 40px">
											Once <span class="il">confirmed</span>, you'll be able to log
											in to Vijayscode with your new account.
										</p>



										<p
											style="font-weight: normal; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; line-height: 1.7; margin-bottom: 1.3em; font-size: 15px; color: #47505e; padding-left: 40px; padding-right: 40px; margin-bottom: 0; padding-bottom: 0">
											Best wishes,<br> Vijayscode
										</p>



									</td>

								</tr>

							</tbody>
						</table>





						<div
							style="padding-top: 30px; padding-bottom: 55px; width: 100%; text-align: center; clear: both !important">

							<p
								style="font-weight: normal; padding: 0; font-family: &amp; quot; Helvetica Neue&amp;quot; ,&amp; quot; Helvetica &amp;quot; , Helvetica ,Arial,sans-serif; line-height: 1.7; margin-bottom: 1.3em; font-size: 15px; color: #47505e; font-size: 12px; color: #666; margin-top: 0px">Â©
								Vijayscode</p>



						</div> <br>

					</td>

				</tr>

			</tbody>
		</table>



		<img width="1px" height="1px" alt=""
			src="https://ci3.googleusercontent.com/proxy/iPpm4HUClBQx1BEzeRo4gvEF8ZNrKRjZ6Bow4AieZc9UpGCukegoqKb-QP2ozNK9MjCW8tfinbwKwXKEHVip7yrNl0fdkzHNnLRa5_VZw91nnGbifcN4xaAT4E3CjHD9SuAUa3I4Pbm1ys3ucXidK_HxfrzFQfOcyJsJfvubZsu8eW3EX4Zc0zC5feJXuPtIDRV4vKqpsSUbkm4NV52DAapWsfkx-PXCxNefr_78wTp4_Lzlc-p0LZJ6T9S7VekL9CBva76KtiDskF4pd-ecEvbd_aDv9yxTr73xxmWKOi4BHMcCbP3ReO3-9yAk=s0-d-e1-ft#http://email.m.teachable.com/o/eJwVzUsKwyAQANDT1J0yY9TRhWcJo04aSz5FQqG3b7N_8FouQTipngOAoxjYI3iY0bpUJRQXyKdI8nDQ3xpBg0ZyOpKRak0_LhkHb2bnvqk1s7QqImVBFiRCK03SZJ2bbImRFyU3nIdU6e9r7i0TwpR8SEGNPPhaz_HpL_56m_7j89amnvsPVckx2g"
			class="CToWUd">
	</div>
</body>

</html>