<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">

<body>
	<div style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.6">
		<table style="background:#f5f6f7" width="100%" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" class="m_-5825477190299693425table-wrapper" style="width:700px;margin:auto;margin-top:50px;border-radius:7px">
							<tbody>
								<tr>
									<td class="m_-5825477190299693425header" style="border-top-left-radius:6px;border-top-right-radius:6px;height:80px;background:#2b3636;background-size:300px;background-position:100%;background-repeat:no-repeat;line-height:55px;padding-top:40px;text-align:center;color:#ffffff;display:block!important;margin:0 auto!important;clear:both!important"> <img src="logovijay.png" height="64" width="64" style="max-width:100%;border-radius:50%;padding:5px" class="CToWUd"> </td>
								</tr>
								<tr>
									<td style="background:#fff;border-bottom-left-radius:6px;border-bottom-right-radius:6px;padding-bottom:40px;margin:0 auto!important;clear:both!important">
										<div class="m_-5825477190299693425header-title" style="background:#2b3636;color:#ffffff;padding:0px 60px 40px;text-align:center;margin-bottom:40px">
											<h1 style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;margin-bottom:15px;color:#47505e;margin:0px 0 10px;line-height:1.2;font-weight:200;line-height:45px;font-weight:bold;margin-bottom:30px;font-size:28px;line-height:40px;margin-bottom:10px;font-weight:400;color:#ffffff;padding-left:40px;padding-right:40px;padding-top:40px;padding-top:0px">Reset Password</h1> </div>
										<p style="font-weight:normal;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505e;padding-left:40px;padding-right:40px">Hello <a href="mailto:rathorvijay529@gmail.com" target="_blank">rathorvijay529@gmail.com</a>,</p>
										<p style="font-weight:normal;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505e;padding-left:40px;padding-right:40px">Someone has requested a link to change your password at Vijayscode. You can do this through the link below.</p>
										<br>
										<center><a th:href="@{${url}}" style="color:#09a59a;word-wrap:break-word;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;text-decoration:none;background-color:#09a59a;border:solid #09a59a;line-height:2;max-width:100%;font-size:14px;padding:8px 40px 8px 40px;margin-top:30px;margin-bottom:30px;font-weight:600;display:inline-block;border-radius:30px;margin-left:auto;margin-right:auto;text-align:center;color:#fff!important" target="_blank" >Change my Password</a></center>
										<br>
										<p style="font-weight:normal;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505e;padding-left:40px;padding-right:40px">If you didn't request this, please ignore this email.</p>
										<p style="font-weight:normal;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505e;padding-left:40px;padding-right:40px;margin-bottom:0;padding-bottom:0">Your password won't change until you access the link above and create a new one.</p>
									</td>
								</tr>
							</tbody>
						</table>
						<div style="padding-top:30px;padding-bottom:55px;width:100%;text-align:center;clear:both!important">
							<p style="font-weight:normal;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;line-height:1.7;margin-bottom:1.3em;font-size:15px;color:#47505e;font-size:12px;color:#666;margin-top:0px">Â© Vijayscode</p>
						</div>
						<br> </td>
				</tr>
			</tbody>
		</table> <img width="1px" height="1px" alt="" src="https://ci5.googleusercontent.com/proxy/3wd_jqTo_gYHnbPNFOvF0VmbUNS9IhPjw989ZcHP5Np7VcCKyxzHbvniZa7lmI3kzB87kNn_I8iRBJJ5SGcpnHxiej6Fj5X-JWCj0kdVtkQWgLJ3awfaHqlerm_eE11Jp9tRWVrEgQZ2W1lVLOy2g2hKWOpGqprc6kRG38_S22a-2mmXBlQx9g6nQWAinUGR6QEiJw6eRlz4wEF6Bs7OzYxpCo0XfBKeu-afQbjy_4xQ8ZNxK_OUlLXi2yrPhBKN3NpniAO0eRRV-mtBKfwh-zxcMygz8UJ5Cxl0ysAjqx_xm3J0rptZ_ucpTj2dmQ=s0-d-e1-ft#http://email.m.teachable.com/o/eJwVzUsKwyAQANDT1F1EnXGMC88SJuOkseRTJBR6-zb7B6-WmZSzaYUcIhEKeK5h8iFmnFkQEjni-YGuvQfvBjd4DEMAsirBtuPSfvBmd26bWcvoVEOShcWDAFDNBFwxLzCO0S3J6A2nrqLtfU2tlhTBE1BG00vnaz37p734G0P-l89bWzn3H27JMZQ" class="CToWUd"></div>
</body>

</html>